.lesson {
    display: flex;
    flex-flow: row nowrap;

    .lesson_text {
        width: 700px;
        padding: 20px 30px;
    }

    .lesson_notes {
        padding: 20px 10px;
        position: fixed;
        top: 70px;
        right: 0px;
        left: 760px;
        video {
            width: 400px;
            position: fixed;
            bottom: 0px;
        }
        .current_notes {
        }
    }
}

#topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: hsl(240, 40%, 95%);
    border-bottom: 1px solid silver;
    padding: 5px 20px;
    z-index: 100;
    height: 25px;
}

#top_controls {
    position: fixed;
    top: 36px;
    left: 0px;
    right: 0px;
    background-color: hsl(120, 20%, 95%);
    border-bottom: 1px solid silver;
    z-index: 100;

    .controls {
        padding: 10px 20px;
    }
    .controls.global {
        min-width: 700px;
    }
    .controls.section {
        border-left: 1px solid silver;
    }
}

#app-container {
    padding-top: 50px;
}

.player {
    background-color: white;

}
