.lesson {
    display: flex;
    flex-flow: row nowrap;

    .lesson_side {
        width: 700px;
        padding: 20px 30px;
        video {
            width: 100%;
        }
    }

    .notes_side {
        .current_notes {
            padding: 20px 30px;
            position: fixed;
        }
    }
}

#topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: hsl(240, 40%, 95%);
    border-bottom: 1px solid silver;
    padding: 5px 20px;
    z-index: 100;
}

#app-container {
    padding-top: 30px;
}

.player {
    background-color: white;

}
