.clickable {
    cursor: pointer;
}

.sections {

    & > .section {
        margin: 14px 0px;
        padding: 10px 15px;
        border: 3px solid hsl(0, 0%, 80%);
        border-radius: 3px;
        p {
            margin: 0px;
        }

        &.current {
            border-color: hsl(100, 50%, 50%);
            background-color: hsl(100, 50%, 80%);
        }
    }
}

.current_notes {
    font-size: 20pt;

    .controls {
        padding-bottom: 1em;
        border-bottom: 3px solid hsl(0, 0%, 90%);
        margin-bottom: 1em;
    }

    .text_editor {
        textarea {
            font-size: 15pt;
            padding: 10px 20px;
            height: 400px;
            display: block;
            box-sizing: border-box;
        }
    }

    .notes {
        .note {
            margin-top: 1em;
        }
    }
}

.controls {
    .group {
        display: inline-table;
        button {
            cursor: pointer;
            background: hsl(0, 0%, 98%);
            border-radius: 0px;
            border: 1px solid gray;
            display: table-cell;
            margin: 0px;
            border-right-width: 0px;
            &:first-child {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            &:last-child {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                border-right-width: 1px;
            }
        }
    }
}
