.clickable {
    cursor: pointer;
}

.sections {

    & > .section {
        margin: 14px 0px;
        padding: 10px 15px;
        border: 3px solid hsl(0, 0%, 80%);
        border-radius: 3px;
        p {
            margin: 0px;
        }

        &.current {
            border-color: hsl(100, 50%, 50%);
            background-color: hsl(100, 50%, 80%);
        }
    }
}

.current_notes {
    font-size: 20pt;

    .text {
        padding-bottom: 1em;
        border-bottom: 3px solid hsl(0, 0%, 90%);
        margin-bottom: 1em;
    }

    .notes {
        .note {
            margin-top: 1em;
        }
    }
}

